@charset "UTF-8";

:root {
    --azul1 :#007ECD;
    --azul2: #006DB0;
    --azul3: #005B93;
    --azul4: #004976;
    --azul5: #003759;
    --azul6: #00253B;
    --azul7: #00131E;

    --red1: #CD0000;
    --red2: #B00000;
    --red3: #930000;
    --red4: #750000;
    --red5: #580000;
    --red6: #3C0000;
    --red7: #1E0000;

}


* {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    line-height: 1.5em;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header {
    background-image: linear-gradient(to right, var(--azul2) 40%, var(--azul6));
    height: auto;
    text-align: right;
    border-radius: 0px 0px 5px 5px;
}
header > nav {
    height: auto;
    margin: auto;
    margin-right: 20px;
}
header > nav > a {
    display: inline-block;
    margin: 10px 20px 10px 20px;
    margin-right: 20px;
    padding: 5px;
    font-size: large;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #fff;
}
header > nav> a:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 10px #007ecd2d;
    background-color: var(--azul2);
    color: var(--azul6);
    font-size: large;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    margin-right: 20px;
    padding: 5px;
    
}

/*Main*/
main {
    min-width: none;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    height: auto;
    padding: 5px;
}
main section {
    margin-top: 100px;
}

/*history*/

main > section#history > article {
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main section#history > article > div#biography {
    max-width: 1024px;
    min-width: none;
    margin: auto;
    padding: 3px;
}
main section#history > article > div#biography > h1 {
    padding: 3px;
    font-size: 2em;
}
main section#history > article > div#biography > h2 {
    padding: 3px;
}
main section#history > article > div#biography > h3 {
    padding: 3px;
}
main section#history > article > div#biography > p {
    max-width: 800px;
    text-align: justify;
    margin-bottom: 10px;
}
main > section#history > article > picture{
    display: inline-block;
    margin:auto;
    text-align: center;
}
main > section#history > article > picture > img {
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
    max-width: 90%;
}

/*Skils*/

main > section#skils {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
main > section#skils  div {
    max-width: 200px;
    max-height: 300px;
    min-height: 150px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/*projetos*/

main > section#projetos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
}

main > section#projetos > div {
    background-color: rgba(255, 255, 255, 0.514);
    min-width: 240px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    position: relative;
}
main > section#projetos > div > iframe {
    position: absolute ;   
    display: block;
    left: -45%;
    top: -40%;
    max-width: 190%;
    border-radius: 20px;


}
main > section#projetos > div > p {
    margin: auto;
}